.lightblue-box-label {
    display: block;
    padding: 5px;
}

.selectbox {
    height: 30px;
    width: 200px;
}

.cenovnik-form {
    border-collapse: collapse;
    position: absolute;
    margin-top: -17%;
    margin-left: 35%;
}

.pos{
    position : absolute;
    left: 40%;
    top: 46%;
}

div.absolute
{
    position : absolute;
    left: 68%;
    top: 28%;
}