.lightblue-box-label {
    display: block;
    padding: 5px;
}

.selectbox {
    height: 30px;
    width: 200px;
}

.cenovnik-form {
    border-collapse: collapse;
    position: absolute;
    margin-top: 2%;
    margin-left: 32%;
}

div.absolute
{
    position : absolute;
    left: 34%;
    top: 45%
}