<table class="cenovnik-form" width="30%">
    <tbody>
        <tr>
            <td width="100px">
                <span class="lightblue-box-label">Tip Dana:</span>
            </td>
            <td align="left">
                <select class="browser-default custom-select" [(ngModel)]="tipDana">
                    <option value=0>RadniDan</option>
                    <option value=1>Subota</option>
                    <option value=2>Nedelja</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="100px">
                <span class="lightblue-box-label">Linija:</span>
            </td>
            <td align="left">
                <select class="browser-default custom-select" [(ngModel)]="naziv">
                    <option selected></option>
                    <option *ngFor="let p of linijaServis.listaLinija" value={{p.Naziv}}>{{p.Naziv}}</option>
                </select>
             </td>
        </tr>
        <tr>
            <td width="100px">
                <span class="lightblue-box-label">Vreme:</span>
            </td>
            <td align="left">
                <input class="form-control" [(ngModel)]="polazakInfo.Vreme"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>              
                <div align='right'>
                    <button *ngIf="tipDana && naziv && polazakInfo.Vreme" class="btn btn-dark" type='button' (click)="addPolazak()">Dodaj</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<div class="absolute" *ngIf="dodata">
    <h1>{{dodata}}</h1>
</div>
