
<table class="cenovnik-form" width="30%">
    <tbody>
        <tr>
            <td width="100px">
                <span class="lightblue-box-label">Tip Voznje:</span>
            </td>
            <td align="left">
                <select [(ngModel)]="tipVoznje" class="selectbox">
                    <option>Gradski</option>
                    <option>Prigradski</option>
                </select>
            </td>
            <td>
                <button type="button" (click)="ucitajLinije()">Ucitaj Linije</button>
            </td>
        </tr>
        <tr>
            <td>
                <span class="lightblue-box-label">Dan:</span>
            </td>
            <td align="left">
                <select [(ngModel)]="redoviVoznje.TipDana" selected class="selectbox">
                    <option value=0>RadniDan</option>
                    <option value=1>Subota</option>
                    <option value=2>Nedelja</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <span class="lightblue-box-label">Linija</span>
            </td>
            <td align="left" valign="top">
                <div>
                    <select [(ngModel)]="redoviVoznje.LinijaIme" class="selectbox" multiple>
                        <option *ngFor="let linije of serviceVoznje.listaLinija">
                            {{linije.Naziv}}
                        </option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>              
                <div align='right'>
                    <button *ngIf="postojeLinije" type='button' (click)="ispisPolazaka()">Prikazi</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<table *ngIf="serviceVoznje.listPolazaka">
    <tr>
        <td>Polasci:</td>
    </tr>
    <tr *ngFor="let v of serviceVoznje.listPolazaka">
        <td>{{v.Vreme}}</td>
    </tr>
</table>


